In [1]:
#Dependencies and Setup
!pip install psycopg2
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import csv
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import NVARCHAR
from sqlalchemy import INT

Requirement already satisfied: psycopg2 in /anaconda3/envs/PythonData/lib/python3.6/site-packages (2.8.3)

In [2]:
#Load the files 
file_loaded = "./tabular_aadt_2015.csv"
file_loaded_next = "./tabular_aadt_2016.csv"
file_loaded_next_next = "./tabular_aadt_2017.csv"

In [3]:
#Read CSV file containing 2015 DATA & populate a new dataframe for it
df = pd.read_csv(file_loaded)
df

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R0.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,4.864,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500
5,12,1,ORA,9.6,"LAGUNA BEACH, CLIFF DRIVE/ ASTER STREET",3400,40000,37400,3400,40000,37400
6,12,1,ORA,11.5,"LAGUNA BEACH, NORTH CITY LIMITS",3200,38000,35700,3200,39000,35700
7,12,1,ORA,14.057,BREAK IN ROUTE,0,0,0,0,0,0
8,12,1,ORA,R18.073,"NEWPORT BEACH, BAYSIDE DRIVE",4050,50000,45850,4850,60000,54800
9,12,1,ORA,R18.446,"NEWPORT BEACH, DOVER DRIVE",4300,53000,48650,4300,53000,48650
10,12,1,ORA,19.797,"NEWPORT BEACH, JCT. RTE. 55",4400,54000,49400,5400,53000,49400
11,12,1,ORA,20.37,"NEWPORT BEACH, BALBOA BLVD/SUPERIOR AVE",5500,52000,49150,5500,52000,49150
12,12,1,ORA,21.549,SANTA ANA RIVER BRIDGE,4250,41000,38600,4250,41000,38600
13,12,1,ORA,22.09,"HUNTINGTON BEACH, BROOKHURST STREET",4300,41500,39100,4350,42000,39100
14,12,1,ORA,23.739,"HUNTINGTON BEACH, JCT. RTE. 39 NORTH",4200,40500,38050,4200,40500,38050
15,12,1,ORA,25.89,"HUNTINGTON BEACH, GOLDENWEST STREET",4100,39500,37100,4100,40000,37100
16,12,1,ORA,29.89,"SUNSET BEACH, WARNER AVENUE",4950,47500,44350,4900,47500,44350
17,12,1,ORA,32.721,"SEAL BEACH, SEAL BEACH BOULVARD",4450,49000,45950,4450,49500,45950
18,12,1,ORA,33.719,LOS ANGELES/ORANGE COUNTY LINE,4000,45500,41550,0,0,0
19,7,1,LA,0,LOS ANGELES/ORANGE COUNTY LINE,0,0,0,4100,45500,42000
20,7,1,LA,1.86,"LONG BEACH, BELLFLOWER BOULEVARD",3350,37000,34500,2550,28000,26000
21,7,1,LA,1.973,"LONG BEACH, JCT. RTE. 22",2550,28000,26000,3400,36500,34000
22,7,1,LA,2.751,"LONG BEACH, ANAHEIM STREET",3400,36500,34000,2800,30000,28000
23,7,1,LA,5.011,"LONG BEACH, CHERRY AVENUE",3600,37000,36500,3650,37500,37000
24,7,1,LA,6.26,"LONG BEACH, LONG BEACH BOULEVARD",3200,33000,32500,3350,35000,34500
25,7,1,LA,7.288,"LONG BEACH, JCT. RTE. 710",4550,49500,40500,4350,47500,39000
26,7,1,LA,8.266,"LONG BEACH, JCT. RTE. 103",3800,41500,34000,3450,38500,31500
27,7,1,LA,9.253,"LOS ANGELES, ALAMEDA STREET",3450,38500,31500,3550,40000,32500
28,7,1,LA,10.532,"LOS ANGELES, AVALON BOULEVARD",3550,40000,33000,4350,50000,41000
29,7,1,LA,11.61,"LOS ANGELES, JCT. RTE. 110",4400,51000,41500,4250,57000,56000
...,...,...,...,...,...,...,...,...,...,...,...
6955,4,880,ALA,31.681,"OAKLAND, JCT. RTE. 980",13800,218000,207000,8300,130000,124000
6956,4,880,ALA,R32.79,ADELINE/UNION STREETS,8300,130000,124000,8600,136000,129000
6957,4,880,ALA,R33.27,7TH STREET,8600,136000,129000,7400,117000,111000
6958,4,880,ALA,R34.18R,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, RIGHT ALIGN",0,0,0,1750,28000,26500
6959,4,880,ALA,R34.7R,WEST GRAND AVENUE,1750,28000,26500,2250,35500,34000
6960,4,880,ALA,R35.797R,"EAST JCT. RTE. 80, END RIGHT ALIGN",3600,39600,38500,0,0,0
6961,4,880,ALA,R33.92L,BEGIN LEFT ALIGN,0,0,0,3650,58000,55000
6962,4,880,ALA,R34.18L,"RTE. 880 CONNECT SF-OAK BAY BRIDGE, LEFT ALIGN",3650,58000,55000,2150,34000,32500
6963,4,880,ALA,R34.7L,WEST GRAND AVENUE,2150,34000,32500,2550,40500,38500
6964,4,880,ALA,R35.4L,"WEST JCT. RTE. 80, END LEFT ALIGN",2550,40500,38500,0,0,0
6965,11,905,SD,2.84,27TH STREET/ORO VISTA ROAD,0,0,0,1800,20200,20100
6966,11,905,SD,2.96R,BEGIN RIGHT ALIGN,0,0,0,920,10400,10000
6967,11,905,SD,3.19R,"SAN DIEGO, JCT. RTE. 5",920,10400,10000,920,10400,10000
6968,11,905,SD,3.207R,JCT. RTE. 5,920,10400,10000,2650,27000,26500
6969,11,905,SD,3.544R,END RIGHT ALIGN,2650,27000,26500,0,0,0
6970,11,905,SD,2.96L,BEGIN LEFT ALIGN,0,0,0,1000,10900,10400
6971,11,905,SD,3.19L,"SAN DIEGO, JCT. RTE. 5",1000,10900,10400,2500,29500,28500
6972,11,905,SD,3.55L,END LEFT ALIGN,2500,29500,28500,0,0,0
6973,11,905,SD,3.818,"SAN DIEGO, BEYER BOULEVARD",5000,57000,55000,6100,64000,62000
6974,11,905,SD,4.409,"SAN DIEGO, PICADOR BOULEVARD",6100,64000,62000,6000,64000,62000
6975,11,905,SD,5.164,JCT. RTE. 805,6000,64000,62000,6300,74000,70000
6976,11,905,SD,R6.723,CALIENTE ROAD,6300,74000,70000,5500,63000,62000
6977,11,905,SD,R8.782,BRITANNIA BLVD,5500,63000,62000,4300,55000,52000
6978,11,905,SD,R9.778,LA MEDIA ROAD,4300,55000,52000,3350,43000,41500
6979,11,905,SD,R11.366,SIEMPRE VIVA RD O.C.,3350,43000,41500,2350,32500,31000
6980,11,905,SD,R11.736,MEXICAN BORDER POE-TRUCK ENTRANCE,260,2350,2200,0,0,0
6981,4,980,ALA,0.009,"OAKLAND, JCT. RTE. 880",0,0,0,6000,88000,85000
6982,4,980,ALA,0.702,"OAKLAND, FOURTEENTH STREET",6000,88000,85000,6400,93000,90000
6983,4,980,ALA,0.904,"OAKLAND, 18TH STREET",6400,93000,90000,9400,134000,130000
6984,4,980,ALA,2.036,"OAKLAND, JCT. RTE. 580",9400,134000,130000,0,0,0

In [4]:
#Extract the columns from the 2015 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns = ["District","County","Postmile"]
df_transformed_2015 = df[df_columns]
df_transformed_2015['Year']= 2015
df_transformed_2015.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   District County Postmile  Year
0        12    ORA   R0.129  2015
1        12    ORA     R.78  2015
2        12    ORA    4.864  2015
3        12    ORA     8.43  2015
4        12    ORA    9.418  2015

In [5]:
#Read CSV file containing 2016 DATA & populate a new dataframe for it
df_next = pd.read_csv(file_loaded_next)
df_next.head()

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,R1.077,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500

In [6]:
#Extract the columns from the 2016 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns_new = ["District","County","Postmile"]
df_transformed_2016 = df[df_columns_new]
df_transformed_2016['Year']= 2016
df_transformed_2016.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   District County Postmile  Year
0        12    ORA   R0.129  2016
1        12    ORA     R.78  2016
2        12    ORA    4.864  2016
3        12    ORA     8.43  2016
4        12    ORA    9.418  2016

In [7]:
#Read CSV file containing 2017 DATA & populate a new dataframe for it
df_next_next = pd.read_csv(file_loaded_next_next)
df_next_next.head()

,District,Route,County,Postmile,Description,Back_Peak_Hour,Back_Peak_Month,Back_AADT,Ahead_Peak_Hour,Ahead_Peak_Month,Ahead_AADT
0,12,1,ORA,R0.129,"DANA POINT, JCT. RTE. 5",0,0,0,3800,41000,37750
1,12,1,ORA,R0.78,"DANA POINT, DOHENY PARK ROAD",3800,41000,37750,3900,42000,38800
2,12,1,ORA,R1.077,BREAK IN ROUTE,0,0,0,0,0,0
3,12,1,ORA,8.43,"LAGUNA BEACH, MOUNTAIN ROAD",2900,39500,36800,2900,39500,36800
4,12,1,ORA,9.418,"LAGUNA BEACH, JCT. RTE. 133 NORTH",3050,41000,38500,3450,41000,38500

In [8]:
#Extract the columns from the 2017 CSV file ('District', 'County','Postmile') and Poplulate a new DataFrame
df_columns_new_new = ["District","County","Postmile"]
df_transformed_2017 = df[df_columns_new_new]
df_transformed_2017['Year']= 2017
df_transformed_2017.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   District County Postmile  Year
0        12    ORA   R0.129  2017
1        12    ORA     R.78  2017
2        12    ORA    4.864  2017
3        12    ORA     8.43  2017
4        12    ORA    9.418  2017

In [10]:
#Combine all three new DataFrames together into one big DataFrame WITHOUT A MERGE 
dfs = [df_transformed_2017, df_transformed_2016, df_transformed_2015]
dfs

[      District County  Postmile  Year
 0           12    ORA    R0.129  2017
 1           12    ORA      R.78  2017
 2           12    ORA     4.864  2017
 3           12    ORA      8.43  2017
 4           12    ORA     9.418  2017
 5           12    ORA       9.6  2017
 6           12    ORA      11.5  2017
 7           12    ORA    14.057  2017
 8           12    ORA   R18.073  2017
 9           12    ORA   R18.446  2017
 10          12    ORA    19.797  2017
 11          12    ORA     20.37  2017
 12          12    ORA    21.549  2017
 13          12    ORA     22.09  2017
 14          12    ORA    23.739  2017
 15          12    ORA     25.89  2017
 16          12    ORA     29.89  2017
 17          12    ORA    32.721  2017
 18          12    ORA    33.719  2017
 19           7     LA         0  2017
 20           7     LA      1.86  2017
 21           7     LA     1.973  2017
 22           7     LA     2.751  2017
 23           7     LA     5.011  2017
 24           7     LA      6.26  2017
 25           7     LA     7.288  2017
 26           7     LA     8.266  2017
 27           7     LA     9.253  2017
 28           7     LA    10.532  2017
 29           7     LA     11.61  2017
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2017
 6956         4    ALA    R32.79  2017
 6957         4    ALA    R33.27  2017
 6958         4    ALA   R34.18R  2017
 6959         4    ALA    R34.7R  2017
 6960         4    ALA  R35.797R  2017
 6961         4    ALA   R33.92L  2017
 6962         4    ALA   R34.18L  2017
 6963         4    ALA    R34.7L  2017
 6964         4    ALA    R35.4L  2017
 6965        11     SD      2.84  2017
 6966        11     SD     2.96R  2017
 6967        11     SD     3.19R  2017
 6968        11     SD    3.207R  2017
 6969        11     SD    3.544R  2017
 6970        11     SD     2.96L  2017
 6971        11     SD     3.19L  2017
 6972        11     SD     3.55L  2017
 6973        11     SD     3.818  2017
 6974        11     SD     4.409  2017
 6975        11     SD     5.164  2017
 6976        11     SD    R6.723  2017
 6977        11     SD    R8.782  2017
 6978        11     SD    R9.778  2017
 6979        11     SD   R11.366  2017
 6980        11     SD   R11.736  2017
 6981         4    ALA     0.009  2017
 6982         4    ALA     0.702  2017
 6983         4    ALA     0.904  2017
 6984         4    ALA     2.036  2017

 [6985 rows x 4 columns],       District County  Postmile  Year
 0           12    ORA    R0.129  2016
 1           12    ORA      R.78  2016
 2           12    ORA     4.864  2016
 3           12    ORA      8.43  2016
 4           12    ORA     9.418  2016
 5           12    ORA       9.6  2016
 6           12    ORA      11.5  2016
 7           12    ORA    14.057  2016
 8           12    ORA   R18.073  2016
 9           12    ORA   R18.446  2016
 10          12    ORA    19.797  2016
 11          12    ORA     20.37  2016
 12          12    ORA    21.549  2016
 13          12    ORA     22.09  2016
 14          12    ORA    23.739  2016
 15          12    ORA     25.89  2016
 16          12    ORA     29.89  2016
 17          12    ORA    32.721  2016
 18          12    ORA    33.719  2016
 19           7     LA         0  2016
 20           7     LA      1.86  2016
 21           7     LA     1.973  2016
 22           7     LA     2.751  2016
 23           7     LA     5.011  2016
 24           7     LA      6.26  2016
 25           7     LA     7.288  2016
 26           7     LA     8.266  2016
 27           7     LA     9.253  2016
 28           7     LA    10.532  2016
 29           7     LA     11.61  2016
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2016
 6956         4    ALA    R32.79  2016
 6957         4    ALA    R33.27  2016
 6958         4    ALA   R34.18R  2016
 6959         4    ALA    R34.7R  2016
 6960         4    ALA  R35.797R  2016
 6961         4    ALA   R33.92L  2016
 6962         4    ALA   R34.18L  2016
 6963         4    ALA    R34.7L  2016
 6964         4    ALA    R35.4L  2016
 6965        11     SD      2.84  2016
 6966        11     SD     2.96R  2016
 6967        11     SD     3.19R  2016
 6968        11     SD    3.207R  2016
 6969        11     SD    3.544R  2016
 6970        11     SD     2.96L  2016
 6971        11     SD     3.19L  2016
 6972        11     SD     3.55L  2016
 6973        11     SD     3.818  2016
 6974        11     SD     4.409  2016
 6975        11     SD     5.164  2016
 6976        11     SD    R6.723  2016
 6977        11     SD    R8.782  2016
 6978        11     SD    R9.778  2016
 6979        11     SD   R11.366  2016
 6980        11     SD   R11.736  2016
 6981         4    ALA     0.009  2016
 6982         4    ALA     0.702  2016
 6983         4    ALA     0.904  2016
 6984         4    ALA     2.036  2016

 [6985 rows x 4 columns],       District County  Postmile  Year
 0           12    ORA    R0.129  2015
 1           12    ORA      R.78  2015
 2           12    ORA     4.864  2015
 3           12    ORA      8.43  2015
 4           12    ORA     9.418  2015
 5           12    ORA       9.6  2015
 6           12    ORA      11.5  2015
 7           12    ORA    14.057  2015
 8           12    ORA   R18.073  2015
 9           12    ORA   R18.446  2015
 10          12    ORA    19.797  2015
 11          12    ORA     20.37  2015
 12          12    ORA    21.549  2015
 13          12    ORA     22.09  2015
 14          12    ORA    23.739  2015
 15          12    ORA     25.89  2015
 16          12    ORA     29.89  2015
 17          12    ORA    32.721  2015
 18          12    ORA    33.719  2015
 19           7     LA         0  2015
 20           7     LA      1.86  2015
 21           7     LA     1.973  2015
 22           7     LA     2.751  2015
 23           7     LA     5.011  2015
 24           7     LA      6.26  2015
 25           7     LA     7.288  2015
 26           7     LA     8.266  2015
 27           7     LA     9.253  2015
 28           7     LA    10.532  2015
 29           7     LA     11.61  2015
 ...        ...    ...       ...   ...
 6955         4    ALA    31.681  2015
 6956         4    ALA    R32.79  2015
 6957         4    ALA    R33.27  2015
 6958         4    ALA   R34.18R  2015
 6959         4    ALA    R34.7R  2015
 6960         4    ALA  R35.797R  2015
 6961         4    ALA   R33.92L  2015
 6962         4    ALA   R34.18L  2015
 6963         4    ALA    R34.7L  2015
 6964         4    ALA    R35.4L  2015
 6965        11     SD      2.84  2015
 6966        11     SD     2.96R  2015
 6967        11     SD     3.19R  2015
 6968        11     SD    3.207R  2015
 6969        11     SD    3.544R  2015
 6970        11     SD     2.96L  2015
 6971        11     SD     3.19L  2015
 6972        11     SD     3.55L  2015
 6973        11     SD     3.818  2015
 6974        11     SD     4.409  2015
 6975        11     SD     5.164  2015
 6976        11     SD    R6.723  2015
 6977        11     SD    R8.782  2015
 6978        11     SD    R9.778  2015
 6979        11     SD   R11.366  2015
 6980        11     SD   R11.736  2015
 6981         4    ALA     0.009  2015
 6982         4    ALA     0.702  2015
 6983         4    ALA     0.904  2015
 6984         4    ALA     2.036  2015

 [6985 rows x 4 columns]]

In [11]:
#Combine 2015 & 2016 new DataFrames together into one big DataFrame WITH A MERGE
final_df = pd.merge(df_transformed_2015,df_transformed_2016, on = 'Year', how ='outer')
final_df.head()

   District_x County_x Postmile_x  Year  District_y County_y Postmile_y
0        12.0      ORA     R0.129  2015         NaN      NaN        NaN
1        12.0      ORA       R.78  2015         NaN      NaN        NaN
2        12.0      ORA      4.864  2015         NaN      NaN        NaN
3        12.0      ORA       8.43  2015         NaN      NaN        NaN
4        12.0      ORA      9.418  2015         NaN      NaN        NaN

In [12]:
#Merge 2017 DataFrame with the merged 2015 & 2016 Dataframe
merged_df = pd.merge(final_df, df_transformed_2017, on='Year', how='outer')
merged_df.head()

,District_x,County_x,Postmile_x,Year,District_y,County_y,Postmile_y,District,County,Postmile
0,12.0,ORA,R0.129,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,ORA,R.78,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,12.0,ORA,4.864,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,12.0,ORA,8.43,2015,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,ORA,9.418,2015,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Concat the three DataFrames into one big DataFrame
frames  = [df_transformed_2015,df_transformed_2016,df_transformed_2017]
final_df = pd.concat(frames)
final_df.head()

   District County Postmile  Year
0        12    ORA   R0.129  2015
1        12    ORA     R.78  2015
2        12    ORA    4.864  2015
3        12    ORA     8.43  2015
4        12    ORA    9.418  2015

In [14]:
#Create an Engine that connects Pandas to pgAdmine
Base = automap_base()
connection_string = "postgres:ghaithramahi1@localhost:5433/California_Traffic"
engine = create_engine(f'postgresql://{connection_string}')

#Engine Connection
conn = engine.raw_connection()

In [15]:
#Confirm tables
engine.table_names()

['test', 'CA_Traffic', 'premise', 'betyouthisworks', 'hi', 'ca_traffic']

In [16]:
#Print and confirm final DataFrame
# final_df['County'] = str(final_df['County'])
# final_df['Postmile'] = str(final_df['Postmile'])
# final_df.groupby('Postmile').count()
final_df.dtypes
#final_df.columns = ['district','county','postmile','year']

District     int64
County      object
Postmile    object
Year         int64
dtype: object

In [17]:
final_df.head()

   District County Postmile  Year
0        12    ORA   R0.129  2015
1        12    ORA     R.78  2015
2        12    ORA    4.864  2015
3        12    ORA     8.43  2015
4        12    ORA    9.418  2015

In [18]:
#Load DataFrames into pgAdmin
final_df.to_sql(name='California_Traffic', con=engine, if_exists='append', index=False, schema = 'public')

In [ ]:
final_df.head(15)

In [ ]:
#Extra software version check
!pip freeze

In [ ]:
#Reconfirm Database
len(final_df['County'][0])